{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}

{% block content %}
  <form method="POST" class="form-inline">
    <div class="form-group">
        <label class="sr-only" for="url">/</label>
        <div class="input-group">
            <div class="input-group-addon">URL: </div>
            <input type="text" class="form-control" id="url" name="url" placeholder="https://dreamhack.io/">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Report</button>
</form>
{% endblock %}
